<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head") %>
  
<body>

  <%- include("../partials/header") %>

  <div class="container_create_product">
        
    <h1 class="create_product_title">Nuevo Producto</h1>

    <form action="/products/create" id="product_create_form" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label for="name">Nombre del Producto</label>
        <input type="text" id="name" name="name" class="input_create_product <%= locals.errors && errors.name ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.name ? oldData.name : null %>">
        <small class="error-msg"></small>
        <% if (locals.errors && errors.name) { %>
          <p class="text-danger"><%= errors.name.msg %></p>
        <% } %>
      </div>

      <div class="form-group">
        <label for="short_description">Descripcion breve</label>
        <textarea class="input_create_product_textarea" id="short_description" name="short_description"><%= locals.oldData && oldData.short_description ? oldData.short_description : null %></textarea>
        <small class="error-msg"></small>
        <% if (locals.errors && errors.short_description) { %>
          <p class="text-danger"><%= errors.short_description.msg %></p>
        <% } %>
      </div>

      <div class="form-group">
        <label for="long_description">Descripcion amplia</label>
        <textarea class="input_create_product_textarea" id="longDescription" name="long_description"><%= locals.oldData && oldData.long_description ? oldData.long_description : null %></textarea>
      </div>

      <div class="form-group">
        <label for="image" class="form-label">Imagen de producto</label>
        <input class="form-control" type="file" id="image" name="image">
        <small class="error-msg"></small>
        <% if(locals.errors && errors.image) { %>
          <p class="text-danger"><%= errors.image.msg %></p>
        <% } %>
      </div>

            
      <div class="form-group">
        <label for="id_pet">Seleccione la categoria</label>
        <select class="input_create_product_select" id="categoria" name="id_category">
          <option value="" disabled selected>Seleccionar</option>
          <% locals.categories.forEach(function(category) { %>
            <% if(locals.oldData && category.id == oldData.id_category) { %>
              <option value="<%= category.id %>" selected> <%= category.name %> </option>
            <% } else { %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <% } %>
            <% }); %>
        </select>  
      </div>

      <div class="form-group">
        <label for="id_pet">Seleccione la mascota</label>
        <select class="input_create_product_select" id="mascota" name="id_pet">
          <option value="" disabled selected>Seleccionar</option>
          <% locals.pets.forEach(function(pet) { %>
            <% if(locals.oldData && pet.id == oldData.id_pet) { %>
              <option value="<%= pet.id %>" selected> <%= pet.name %> </option>
            <% } else { %>
              <option value="<%= pet.id %>"><%= pet.name %></option>
            <% } %>
          <% }); %>
        </select>
      </div>

      <div class="form-group">
        <label for="id_pet">Seleccione la marca</label>
        <select class="input_create_product_select" id="marca" name="id_brand">
          <option value="" disabled selected>Seleccionar</option>
          <% locals.brands.forEach(function(brand) { %>
            <% if(locals.oldData && brand.id == oldData.id_brand) { %>
              <option value="<%= brand.id %>" selected> <%= brand.name %> </option>
            <% } else { %>
              <option value="<%= brand.id %>"><%= brand.name %></option>
            <% } %>
          <% }); %>
        </select>
      </div>

      <div class="form-group">
          <label for="price">Precio del producto</label>
          <input type="text" id="price" name="price" class="input_create_product <%= locals.errors && errors.price ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.price ? oldData.price : null %>" placeholder="$">
          <small class="error-msg"></small>
          <% if (locals.errors && errors.price) { %>
            <p class="text-danger"><%= errors.price.msg %></p>
          <% } %>
      </div>

            <br>
      <div class="form-group">
          <label for="discount">Descuento aplicado (%)</label>
          <input type=text id="discount" name="discount" class="input_create_product <%= locals.errors && errors.discount ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.discount ? oldData.discount : null %>" placeholder="%">
          <small class="error-msg"></small>
          <% if (locals.errors && errors.discount) { %>
            <p class="text-danger"><%= errors.discount.msg %></p>
          <% } %>
      </div>

      <div class="create_product_buttons">
        <button type="submit" class="create_product_button_submit" id="submitBtn">Crear</button>
        <button type="reset" class="create_product_button_reset">Borrar</button>
      </div>

    </form>

  </div>

  <div class="return">
    <a href="/admin/table" class="returnAdminTable">Volver al tablero de administrador</a>
  </div>

  <script src="/js/validations/createProduct.js"></script>

  <%- include("../partials/footer") %>

</body>

</html>
