<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 
    
<body>
  
    <%- include("../partials/header") %>
    
    <div class="admin_managePetBrandCategory">

        <section class="manage_form">

            <form action="/admin/create/<%= locals.route %>" id="creation_<%= locals.route %>_form" method="post">

                <h1>Agregue a una nueva <%= locals.singular %></h1>

                <div class="form-group">
                    <label for="name">Nombre de la <%= locals.singular %>:</label>
                    <input type="text" id="name" name="name">
                    <% if (locals.errors && errors.name) { %>
                    <p style="color: red;"><%= errors.name.msg %></p>
                    <% } %>
                </div>
                <button type="submit">Enviar</button>
            </form>

        </section>

        <section class="list">

            <h1><%= locals.plural %> existentes:</h1>

            <ul>
                <% if (locals.created) { %>
                    <% locals.created.forEach(function(i) { %>
                        <li>
                            <div>
                            
                                <p><%= i.name %></p>

                                <div class="buttons">

                                    <a href="/admin/update/<%= locals.route %>/<%= i.id %>">
                                        <button><i class="fa-solid fa-pen-to-square"></i></button>
                                    </a>

                                    <form action="/admin/delete/<%= locals.route %>/<%= i.id %>?_method=DELETE" method="post">
                                        <button><i class="fa-solid fa-trash-can"></i></button>
                                    </form>

                                </div>

                            </div>
                        </li>
                    <% }); %>
                <% } %>
            </ul>

        </section>

    </div>

    <div class="return">
        <a href="/admin/table" class="returnAdminTable">Volver al tablero de administrador</a>
    </div>

    <%- include("../partials/footer") %>

</body>
</html>