<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 
    
<body>
  
    <%- include("../partials/header") %>
    
    <div class="admin_manageUsers">

        <section class="manage_form">

            <h1>Administre los usuarios existentes</h1>

            <ul>
                <% if (locals.users) { %>
                    <% locals.users.forEach(function(i) { %>
                        <li>
                            <div>
                            
                                <p>E-mail: <%= i.email %></p>

                                <form action="/admin/update/users/<%= i.id %>?_method=PUT" method="post">
                                    <label for="admin">Categoria: </label>
                                    <select class="input_manage_admin" name="admin">
                                        <% if(i.admin === "Administrador") { %>
                                            <option value="1" selected>Administrador</option>
                                            <option value="0">Consumidor</option>
                                        <% } else { %>
                                            <option value="0" selected>Consumidor</option>
                                            <option value="1">Administrador</option>
                                        <% } %>
                                    </select>
                                    <button type="submit"><i class="fa-solid fa-pen-to-square"></i></button>
                                </form>     

                                <form action="/admin/delete/users/<%= i.id %>?_method=DELETE" method="post">
                                    <button><i class="fa-solid fa-trash-can"></i></button>
                                </form>

                            </div>
                        </li>
                    <% }); %>
                <% } %>
            </ul>

        </section>

    </div>

    <div class="return">
        <a href="/admin/table" class="returnAdminTable">Volver al tablero de administrador</a>
    </div>

    <%- include("../partials/footer") %>

</body>
</html>
