<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 
    
<body>
  
    <%- include("../partials/header") %>
    
    <% if(locals.toEdit) { %>

    <div class="admin_createPetBrandCategory">

        <section class="creation_form">

            <h1>Modifique la <%= locals.singular %> "<%= locals.toEdit.name %>"</h1>

            <form action="/admin/update/<%= locals.route %>/<%= locals.toEdit.id %>?_method=PUT" id="update_<%= locals.route %>_form" method="post">
                <div class="form-group">
                    <label for="name">Nombre de la <%= locals.singular %>:</label>
                    <input type="text" id="name" name="name" value="<%= locals.toEdit ? locals.toEdit.name : null %>"">
                    <% if (locals.errors && errors.name) { %>
                    <p style="color: red;"><%= errors.name.msg %></p>
                    <% } %>
                </div>
                <button type="submit">Enviar</button>
            </form>

        </section>

        <section class="list">

            <h1><%= locals.plural %> existentes:</h1>

            <ul>
                <% if (locals.created) { %>
                    <% locals.created.forEach(function(i) { %>
                        <li>

                            <p><%= i.name %></p>

                            <div>

                                <a href="/admin/update/<%= locals.route %>/<%= i.id %>">
                                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                                </a>

                                <form action="/admin/delete/<%= locals.route %>/<%= i.id %>?_method=DELETE" method="post">
                                    <button><i class="fa-solid fa-trash-can"></i></button>
                                </form>

                            </div>

                        </li>
                    <% }); %>
                <% } %>
            </ul>

        </section>

    </div>

    <% } %>

    <a href="/admin/table">Volver al tablero de administrador</a>

    <%- include("../partials/footer") %>

</body>
</html>