<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 

<body>

    <%- include("../partials/header") %>  

    <div class="container_auth_edit">
        
        <div id="title">
            <h1>¡Hola <%=user.first_name%>! Edita tus datos:</h1>
        </div>

        <form  action="/auth/edit/<%= user.id %>?_method=PUT" method="post" enctype="multipart/form-data">

            <div class="form-group">
              <label for="first_name">Nombre/s</label>
              <input type="text" id="name" name="first_name" class="input_auth_edit <%= locals.errors && errors.first_name ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.first_name ? oldData.first_name : user.first_name %>">
              <% if (locals.errors && errors.first_name) { %>
                <p style="color: red"><%= errors.first_name.msg %></p>
              <% } %>
            </div>

            <div class="form-group">
                <label for="last_name">Apellido/s</label>
                <input type="text" id="name" name="last_name" class="input_auth_edit <%= locals.errors && errors.last_name ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.last_name ? oldData.last_name : user.last_name %>">
                <% if (locals.errors && errors.last_name) { %>
                  <p style="color: red"><%= errors.last_name.msg %></p>
                <% } %>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="input_auth_edit <%= locals.errors && errors.email ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.email ? oldData.email : user.email %>">
                <% if (locals.errors && errors.email) { %>
                    <p style="color: red"><%= errors.email.msg %></p>
                <% } %>
            </div>

            <div class="form-group">
                <label for="avatar" class="form-label">Carga una foto</label>
                <input type="file" name="avatar" class="form-control">
            </div>

            <div class="auth_edit_buttons">
                <button type="submit" class="auth_edit_button_edit">Editar</button>
                <button type="reset" class="auth_edit_button_delete">Borrar</button>
            </div>

        </form>

    </div>

    <%- include("../partials/footer") %>

<body>
</html>